
body {
    font-size: 18px;
    width: 600px;   
    text-align: center;
    display: table;
    margin: auto;
    font-family: 'Oswald', sans-serif;
    font-size: 25px;
    background-image: linear-gradient(45deg, rgb(255,218,285) 50%, rgba(172, 30, 30, 0.788) 100%);
}

h1 {
    color: white;
}
ul{
    list-style-type: none;
    margin-right: 30px;
}
a:link { text-decoration:none;
}
a {
    color: black;
    text-decoration: underline 0.15em rgba(0, 0, 0, 0);
    transition: text-decoration-color 300ms;
    background-color: rgba(250, 235, 215, 0.199);
    background-size: cover;
}
a:hover {  
    text-decoration: underline;
    transition: 150ms;
    background-color: rgba(255, 228, 154, 0.836);
}
.main-info {
    width: 600px;
    padding: 25px;
    margin: 20px;
    background-color: 
    rgba(46, 32, 14, 0.158);
}
.cat-img {
    border: 5px solid pink;
    width: 550px;
}



.ul {
    text-align: center;
}

.li {
    display: inline;
    text-align: left;
    width: 100px;
    background-color: rgba(178, 34, 34, 0.144);
}
